<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Cliente</title>
</head>

<body>


    <section class="container bg-secondary px-5 py-5 mb-5 my-5 font-weight-bold text-white">
        <form id="formCadastro" method="POST" action="/editClient" th:object="${cliente}">

            <div class="my-5 text-center">
                <h1 class="display-4 font-weight-bold text-white" th:text="Editar"></h1>
            </div>

            <div class="row">
                <input type="hidden" name="id" th:value="${cliente.id}" />

                <div class=" col-6">
                    <div>
                        <label for="nm_cliente">Nome: </label>
                        <input type="text" class="form-control" id="nm_cliente" name="nm_cliente"
                            th:value="${cliente.nm_cliente}" />
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group col-6">
                        <label for="nm_email">Email: </label>
                        <input type="email" name="nm_email" id="nm_email" class="form-control"
                            th:value="${cliente.nm_email}">
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group col-6">
                        <label for="nm_cep">Cep: </label>
                        <input type="text" name="nm_cep" id="nm_cep" class="form-control" th:value="${cliente.nm_cep}">
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group col-6">
                        <label for="nm_endereco">Endereco: </label>
                        <input type="text" name="nm_endereco" id="nm_endereco" class="form-control"
                            th:value="${cliente.nm_endereco}">
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group col-6">
                        <label for="nm_bairro">Bairro: </label>
                        <input type="text" name="nm_bairro" id="nm_bairro" class="form-control"
                            th:value="${cliente.nm_bairro}">
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group col-6">
                        <label for="nm_cidade">Cidade: </label>
                        <input type="text" name="nm_cidade" id="nm_cidade" class="form-control"
                            th:value="${cliente.nm_cidade}">
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group col-6">
                        <label for="nm_complemento">Complemento: </label>
                        <input type="text" name="nm_complemento" id="nm_complemento" class="form-control"
                            th:value="${cliente.nm_complemento}">
                    </div>
                </div>

                <!-- /// teste -->

                <div class="bg-success  text-white mt-5 text-white">
                    <div th:data="${telefones}">
                        <div th:if="${telefones}">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Número</th>
                                        <th scope="col">Editar</th>
                                        <th scope="col">Excluir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-th-each="telefones : ${telefones}">
                                        <td data-th-text="${telefones.id}"></td>
                                        <td data-th-text="${telefones.nr_telefone}"></td>

                                        <td>
                                            <a class="text-white" th:href="@{'/editTelefone/'+${telefones.id}}">Editar</a>
                                        </td>                                        
                                        <td>
                                            <a class="text-white" th:href="@{'/deleteTelefone/'+${telefones.id}}">Excluir</a>
                                        </td>
                                    </tr>
                                    <a th:href="@{'/createTelefone/'+${cliente.id}}" class="btn btn-warning">Cadastrar
                                        Telefone</a>
                                    <!-- <a th:href="@{'/createTelefone/" class="btn btn-primary">Cadastrar Telefone</a> -->

                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div th:unless="!${telefones}">
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>


    </section>

</body>

</html>